* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(30, 28, 28);
  background-color: #264653;
  display:flex;
  justify-content: center;
}

.container {
  position: relative;
  top:18vh;
  height: 400px;
  width: 250px;
  background-color:#2a9d8f;
  border-radius: 10px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 250px;
  background-color: #e9c46a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#img1 {
  filter: drop-shadow(10px 5px 2px rgba(0, 0, 0, 0.7));
}

h1 {
  padding: 10px;
}

p {
  padding: 10px;
  padding-left: 20px;
}

#price {
  padding: 10px;
  text-decoration-line: line-through;
  text-decoration-color: crimson;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
}